.nav-bar {
  background: #181818;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  margin-left: -11px;

  .logo {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 40px;
      height: auto;
      margin: 4px 0;

      &.sub-logo {
        width: 65px;
        height: auto;
        margin-top: -15px;
      }
    }
    @media screen and (max-width: 1200px) {
      display: none; // Hide the entire logo container in mobile view
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    a {
      font-size: 25px;
      color: #4d4d4e;
      text-decoration: none;
      margin: 10px 0;
      transition: color 0.3s ease;

      &:hover,
      &.active {
        color: whitesmoke;
      }

      svg {
        transition: transform 0.3s ease;
      }

      &:hover svg {
        transform: scale(1.1);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin: 10px 0;

      a {
        color: #4d4d4e;
        font-size: 30px;
        transition: color 0.3s ease;

        &:hover {
          color: whitesmoke;
        }
      }
    }
      .anchor-icon {
        transition: color 0.3s ease;

        &:hover {
          color: #0077b5; // LinkedIn blue
        }
      }

      .fa-github:hover {
        color: white; // GitHub white
      }

      .fa-instagram:hover {
        color: #c13584; // Instagram gradient pink
      }
  }

  .hamburger-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 4;
    transition: transform 0.3s ease;

  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    height: auto;
    background: transparent;

    .logo {
      position: relative;
    }

    nav {

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #181818;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
      transform: translateY(-100%);
      transition: transform 0.3s ease;

      &.mobile-show {
        display: flex;
        transform: translateY(0);
      }

      a {
        margin: 20px 0;
        font-size: 24px;
      }
    }

    ul {
      display: none;
    }

    .hamburger-icon {
      display: block;
      padding-right: 20px;
    }
  }
}
