.home-page {
    display: flex;
    flex-direction: row; // Default: side-by-side layout for desktop
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    padding: 40px;

    .text-zone {
      width: 40%; // Maintain width for desktop
      max-height: 90%;
      padding-left: 60px;

      h1 {
        color: whitesmoke;
        font-size: 56px;
        line-height: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
          content: '<h1>';
          font-family: 'La Belle Aurore', cursive;
          color: #8d8d8d;
          font-size: 18px;
          margin-bottom: 18px;
          margin-right: 20px;
          animation: fadeIn 1s 1.7s backwards;
          opacity: 0.6;
        }

        &:after {
          content: '<h1/>';
          font-family: 'La Belle Aurore', cursive;
          color: #8d8d8d;
          font-size: 18px;
          position: absolute;
          margin-top: 18px;
          margin-left: 20px;
          animation: fadeIn 1s 1.7s backwards;
          opacity: 0.6;
        }
      }

      h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 30px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8s backwards;
      }

      .flat-button {
        color: whitesmoke;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid whitesmoke;
        margin-top: 25px;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 5px;

        &:hover {
          background: #8d8d8d;
          color: whitesmoke;
        }
      }
    }
  }

  /* small screens */
@media (max-width: 676px) {
  .home-page {
      padding-top: 100px;
      flex-direction: column;
      padding-right: 150px;
    .text-zone {
      width: 100%;
      h1 {
        font-size: 43px;
        line-height: 37px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }
}

/* medium screens */
@media (min-width: 677px) and (max-width: 880px) {
  .home-page {
    padding-top: 100px;
      flex-direction: column;
      padding-right: 100px;
    .text-zone {
      width: 100%;
      padding: 0px;
      h1 {
        font-size: 53px;
      }
    }
  }
}
