.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: relative;
    margin: auto;

    svg {
      width: 100%;
      height: auto;
      }

    .solid-logo {
      position: relative;
      width: 70%;
      height: auto;
      margin: auto;
      padding-top: 75px;
      animation: fadeIn 1s 1.7s backwards;
    }
  }

    /* small screens */
@media (max-width: 676px) {
  .logo-container {
    z-index: 0;
    width: 280px;
    height: 400px;
    position: relative;
    margin: auto;
    .solid-logo {
      position: relative;
      width: 50%;
      height: auto;
      animation: fadeIn 1s 1.7s backwards;
      padding-left: 50px;
      margin-top: -10%;
    }
  }
}

/* medium screens */
@media (min-width: 677px) and (max-width: 880px) {
  .logo-container {
    z-index: 0;
    width: 280px;
    height: 400px;
    position: relative;
    margin: auto;
    .solid-logo {
      position: relative;
      width: 60%;
      height: auto;
      margin-top: -10%;
    }
  }
}